<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({});
    });
  </script>
<% end %>

<h2>
  <iframe src="https://pontiac.media/#/">
    <p>Placeholder text; only shows up if the page DOESN'T render!</p>
  </iframe>
</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>
